body, html {
    margin:0;
    padding:0;
    height:100%;
}
body {
    display:grid;
    align-items: center;
    justify-content: center;
}

#counter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6em;
    gap:.5em;
    background-color: lightblue;
    width:400px;
    height:400px;
    border-radius: 50%;
    border:1px solid black;
}

.move {
    font-size: xx-large;
    width:2em;
    height:2em;
    background-color: lightgray;
    border-radius: 50%;
    border:2px solid black;
}